<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title" style="@Style">
            @Title
        </div>
        <form class="dialog-body">
            @ChildContent
        </form>
        <div class="dialog-buttons">
            @Buttons
        </div>
    </div>
</div>

